html{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.topnav {
    overflow:hidden;
    background-color: #9fe431;
}
.topnav a {
    display: block;
    float: left;
    text-align: center;
    padding:20px 30px;
    text-decoration: none;
    color: whitesmoke;

}
.topnav a:hover {
	background-color: whitesmoke;
	color: #9fe431;
}
.topnav .active {
    background-color:whitesmoke;
    color: #9fe431;
}

body {
    margin: 0;
}

.header1 {
    background-color: #9fe431;
    padding:5px;
    text-align: center;
    color: whitesmoke;
}
.paragraph1 {
    margin: 50px;
    text-align: left;
    color: black;
    font-size: 25px;
}
