.topnav {
    overflow:hidden;
    background-color: #f44336;
}
.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding:20px 30px;
    text-decoration: none;
}
.topnav a:hover {
    background-color:whitesmoke;
    color: #f44336;
}
.active {
    background-color: whitesmoke;
    color: #f44336;
}


body {
    margin:0;
}

.header {
    background-color: #f44336;
    padding:5px;
    text-align: center;
    color: whitesmoke;
}
.paragraph1 {
    margin: 50px;
    text-align: left;
    color: black;
    font-size: 25px;
}